In [1]:
import csv

import pandas as pd


fields = ['Type', 'Area', 'Location','Price']
rows = [ ['g+2', 100, 'Bole','20000000'],
         ['villa', 333, 'lafto','999999999'],
         ['apartment', 76, 'Ayat','5000000000'],
         ['villa', 567, 'koye','992479999'],
         ['apartment', 76, 'Tuludimtu','5000000000']
           ]

filename = "house.csv"

with open(filename, 'w') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)
test=pd.read_csv('house.csv')
print(test)

        Type  Area   Location       Price
0        g+2   100       Bole    20000000
1      villa   333      lafto   999999999
2  apartment    76       Ayat  5000000000
3      villa   567       koye   992479999
4  apartment    76  Tuludimtu  5000000000

Crud functions

In [20]:
import pandas as pd

def create(Type, Area, Location,Price):
    new_house = pd.DataFrame([{'Type':Type , 'Area': Area, 'Location':Location,'Price':Price}])
    new_house.to_csv('house.csv', mode='a', header=False, index=False)

def read():
    return pd.read_csv('house.csv')

    
def update(index, Type, Area, Location,Price):
    df = pd.read_csv('house.csv')
    df.loc[index, ['Type', 'Area', 'Location','Price']] = Type, Area, Location,Price
    df.to_csv('house.csv', index=False)

def delete(id):
    df = pd.read_csv('house.csv')
    df = df[df['id'] != id]
    df.to_csv('house.csv', index=False)

Calling the crud Functions

In [24]:
create('Apartment', 129876, 'New York', 200987654670)

data = read()
print(data)

        Type    Area     Location         Price
0      Villa    3000  Los Angeles        500000
1      villa     333        lafto     999999999
2  apartment      76         Ayat    5000000000
3      villa     567         koye     992479999
4  apartment      76    Tuludimtu    5000000000
5  Apartment    1200     New York        200000
6  Apartment    1200     New York        200000
7  Apartment    1200     New York        200000
8  Apartment  129876     New York  200987654670

In [12]:
print(read())

        Type  Area   Location       Price
0        g+2   100       Bole    20000000
1      villa   333      lafto   999999999
2  apartment    76       Ayat  5000000000
3      villa   567       koye   992479999
4  apartment    76  Tuludimtu  5000000000
5  Apartment  1200   New York      200000

Working on pandas

In [1]:
import pandas as pd

dataframe = pd.DataFrame()
col = ['one', 'two', 'three']
dataframe = pd.DataFrame(columns=col)

dataframe = pd.concat([dataframe, pd.DataFrame({'one': 1, "two": 2, "three": 3}, index=[0])])
dataframe

print(dataframe)

  one two three
0   1   2     3

Dataset From Kaggle

In [18]:

import pandas as pd
import numpy as n


data = pd.read_csv('data.csv')
print("First 20 rows of the dataset:")
print(data.head())

First 20 rows of the dataset:
                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-02 00:00:00   313000.0       3.0       1.50         1340      7912
1  2014-05-02 00:00:00  2384000.0       5.0       2.50         3650      9050
2  2014-05-02 00:00:00   342000.0       3.0       2.00         1930     11947
3  2014-05-02 00:00:00   420000.0       3.0       2.25         2000      8030
4  2014-05-02 00:00:00   550000.0       4.0       2.50         1940     10500

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     1.5           0     0          3        1340              0      1955
1     2.0           0     4          5        3370            280      1921
2     1.0           0     0          4        1930              0      1966
3     1.0           0     0          4        1000           1000      1963
4     1.0           0     0          4        1140            800      1976

   yr_renovated                    street       city  statezip country
0          2005      18810 Densmore Ave N  Shoreline  WA 98133     USA
1             0           709 W Blaine St    Seattle  WA 98119     USA
2             0  26206-26214 143rd Ave SE       Kent  WA 98042     USA
3             0           857 170th Pl NE   Bellevue  WA 98008     USA
4          1992         9105 170th Ave NE    Redmond  WA 98052     USA